<head>
  <title>meteorMetronome</title>
</head>

<body>
  <h2>Enter a tempo and press play</h2>
  <p id="Alert"></p><!-- Empty paragraph for alert messaging -->
  
  <audio id="tick" src="/audio/MetronomeTick.mp3">
  Your browser does not support the audio element.
  </audio>

  {{> bpmInput}}
  {{> control}}
  <div id="container">
  <div id="animate">move</div>
  </div>
</body>

<template name="bpmInput">
	<input type="number" id="bpm" placeholder="Beats Per Minute">
</template>

<template name="control">
	<button id="play">Play</button>
	<button id="stop">Stop</button>
  <!-- <button id="test">Test</button> -->
</template>